@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom FONT */
@font-face {
  font-family: "custom-font";
  src: url(/fonts/CustomFont-Book.woff2) format("woff2"),
    url(/fonts/CustomFont-Book.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "custom-font";
  src: url(/fonts/CustomFont-Medium.woff2) format("woff2"),
    url(/fonts/CustomFont-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
